# Logs and dependencies
node_modules/
npm-debug.log*

# Build output
build/
dist/

# Testing and coverage
coverage/

# Environment variables
.env

# Editor settings and system files
.vscode/
.idea/
.DS_Store

# Linting cache
.eslintcache/

# Next.js-specific (if applicable)
.next/
out/
